@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Fira+Sans&family=Lato&family=Open+Sans&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    max-width: 1024px;
    margin: 0px auto 0px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #1c1b1b;
    color: #ffff;
    border-radius: 40px;
    /* min-height: 800px;*/
    min-width: 320px;
    padding: 0 10px;
}
.function-buttons {
    margin: 1.5rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.function-button {
    background: url(../img/interactive-buttons/sunny-landscape.svg) 100% / contain no-repeat;
    /*   background: url(../img/interactive-buttons/moon-night.svg) 100% / contain no-repeat;*/
    width: 50px;
    height: 50px;
}
.tack-menu__completed-tasks {
    background: url(../img/interactive-buttons/list-white.svg) 100% / contain no-repeat;
    width: 60px;
    height: 60px;
}
.tack-menu_text {
    font-size: 2rem;
}
.calculator-dial {
    display: flex;
    justify-content: left;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #ffff;
    flex-direction: column;
    align-items: flex-end;
    height: 10rem;
    padding: 15px 2rem;
    overflow: hidden;
    gap: 6px;
    height: auto;
}
.input-calculation {
    color: #717d8e;
    font-weight: 500;
    font-size: 2.5rem;
    /* width: 100%;
    text-align: right;
    resize: none; */
    user-select: none;
    max-height: 200px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*.input-calculation::-webkit-outer-spin-button,
.input-calculation::-webkit-inner-spin-button {
    -webkit-appearance: none;
}*/
.result-calculation {
    font-size: 2.5rem;
    color: #717d8e;
    font-weight: 500;
    user-select: none;

    overflow-wrap: anywhere;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.result {
    font-size: 4rem;
    color: #ffff;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.calculator-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 1.5rem 0 1rem;
    row-gap: 1em;
    font-size: 14px;
}
.calculator-buttons__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    gap: 1em;
}
.calculator-buttons__container:last-child {
    grid-template-columns: 2fr 1fr 1fr;
    padding-left: 10px;
}
.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: auto;
    width: 3.5em;
    height: 3.5em;
    background: rgb(42, 48, 62, 100%);
    box-shadow: 0px 0px 1px 11px #252b38;
    border-radius: 1em;
    cursor: pointer;
}
.gray-buttons {
    background: #545f71;
    box-shadow: 0px 0px 1px 11px rgb(70, 82, 98, 100%);
}
.orange-buttons {
    background: #d9781f;
    box-shadow: 0px 0px 1px 11px rgb(221, 115, 47);
}

.digit-zero {
    width: calc(100% - 10%);
}

/* tack-calculator*/
.functional__container-tacks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100vh - 286px);
    overflow-y: auto;
    overflow-x: hidden;
}

.functional__container_subtitle {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    user-select: none;
}

.tack {
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 2rem;
    border-radius: 30px;
    gap: 10px;
    cursor: pointer;
}

.tack_clear {
    min-width: 50px;
    max-width: 50px;
    border-radius: 15px;
    transition: 2s;
    background-color: #ffff;
}
.tack_clear:hover {
    background-color: #e46868;
}
.tack__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
}
.tack__card_numbers {
    width: 100%;
    padding: 6px 20px 0 0;
    text-align: end;
    word-wrap: break-word;
}
.tack__card_result {
    padding: 6px 20px 0 0;
    word-wrap: break-word;
}
.clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.clear_all {
    font-size: 3.5rem;
}
.clear_subtitle {
    font-size: 2.5rem;
    user-select: none;
}

@media (min-width: 320px) {
    .result-calculation {
        font-size: 2.5rem;
    }
    .input-calculation {
        font-size: 2.5rem;
    }
    .calculator-dial {
        padding: 20px 2rem;
    }
    .functional__container_subtitle {
        font-size: 2rem;
    }
    .clear_subtitle {
        font-size: 1.5rem;
        padding: 0 0 10px;
    }
    .clear_all {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 425px) {
    .calculator-buttons {
        margin: 3rem 0;
    }
    .function-buttons {
        margin: 2rem 0 3rem;
    }
    .calculator-buttons {
        font-size: 16px;
    }
    .digit-zero {
        width: calc(100% - 10% - 3.5em);
    }
    .clear_subtitle {
        font-size: 2rem;
        padding: 0 0 15px;
    }
    .clear_all {
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 768px) {
    .calculator-buttons {
        font-size: 20px;
    }
    .result-calculation {
        font-size: 3.5rem;
    }
    .input-calculation {
        font-size: 3.5rem;
    }
    .calculator-dial {
        padding: 15px 2rem;
    }
    .functional__container_subtitle {
        font-size: 3rem;
    }
    .clear_subtitle {
        font-size: 2.5rem;
        padding: 0 0 20px;
    }
    .clear_all {
        width: 80px;
        height: 80px;
    }
}
